  /* This main css file contains the default rules and is geared toward the small/phone view */

  /*Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.*/

  html {
      /* -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;*/
  }

  /* apply a natural box layout model to all elements  */

  * {
      /*-moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;*/
      box-sizing: border-box;
  }

  * {
      box-sizing: border-box;
  }

  /* This wildcard applies to all elements ensuring a box layout model */

  body {
      font-size: 16px;
      line-height: normal;
      font-family: calibri, sans-serif;
      color: black;
      /* Declare the base font-family - from google font api or other */
  }

  header,
  nav,
  main,
  footer {
      margin: 1.25rem auto;
      padding: .75rem;
      max-width: 960px;
      /* the comma means apply the following CSS declarations to all of the listed elements */
      /* Declare the maximum width and other main element rules to limit the stretch on wide views */
  }

  header {
      display: flex;
      flex-direction: row;


  }

  header h1 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 30px;
      display: flex;
      justify-content: flex-end;
  }

  header img {
      width: 150px;
      height: auto;
      /*float: none;*/
      display: flex;
      justify-content: flex-start;
  }

  header .subheading {
      margin-left: 30px;

      .hamburger {
          display: block;
          /*position: absolute;*/
          top: 2.0rem;
          right: 1.25rem;
          display: flex;
          flex-direction: row;
      }
  }

  /*----- Clearfix: Force an Element not to Collapse----*/

  /*.clearfix:after {
      content: "";
      display: table;
      clear: both;*/

  nav {
      background-color: darkblue;




      /*----.navigation {
          list-style: none; padding-left: 0;}----*/
  }

  }

  nav button {

      margin: .2rem 2%;
      background-color: transparent;
      border: none;
      font-size: 1.6rem;
      color: aqua;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;

  }

  nav ul {
      list-style-type: none;
      margin: 0;
      padding: .5;
      width: 100%;
      background-color: lightblue;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }

  nav ul li {}

  nav ul li: last-child {
      /* border-right:none;*/
      display: flex;
      justify-content: flex-start;
  }

  nav ul li a {
      /*display: block;*/
      /* text-align: center;*/
      display: flex;
      justify-content: flex-start;
      font-weight: 500;
      /*padding: .8rem 2%;*/
      text-decoration: none;
      color: black;
      border-top: 1px solid rgba(0, 0, 0, 0, 3);
      /*transition: background 0.75s ease, color 0.75 ease;*/
  }

  nav ul li.active a {
      background-color: rgba(0, 0, 0, 5);
      color: #fff;
      color: wheat;
  }

  nav ul li a:hover {
      background-color: rgba(0, 0, 0, 0, 4);
      background-color: whitesmoke;
      color: navy;
  }

  /*----- Clearfix: Force an Element not to Collapse----*/

  /*.clearfix:after {
      content: "";
      display: table;
      clear: both;*/

  }

  main {}

  main h2 {
      display: flex;
      justify-content: center;
  }

  main figure {

      margin: 0 0 .2rem 2%;
      width: 96%;
  }

  main.figure {
      width: 75%;
      height: 250px;
  }

  .cards {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
  }

  .card {
      flex: 0 0 200px;
      margin: 10px;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .card img {
      max-width: 100%;
  }

  .card .text {
      padding: 0 20px 20px;
  }

  /*.card .text > button {
      background: gray;
      border: 0;
      color: white;
      padding: 10px;
      width: 100%;
  }*/


  section.forecast {

      display: block;
  }



  .current {
      display: flex;
      justify-content: space-around;
  }

  .current p {
      margin-top: 50px;
      font-size: 30px;
  }

  .highlow {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .conditions {
      display: flex;
      justify-content: space-around;


  }

  article div.town-article img {
      /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
      width: 75%;
      height: 250px;
      /* fill the page in the small/phone view */
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

  }

  .town-article {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: .75rem;
  }

  footer {
      text-align: center;
      color: #006666;
      font-size: .9rem;
  }

  footer aside {}

  footer > p {}

  /* This structure refers to p elements that are direct children of the footer element */

  /* Other Class Selectors */
